body{
   background-color: #20FEC1;
display: flex;
justify-items: center;
justify-content: center;
text-align: center;
margin-top: 100px;
}

input {
   margin-top: 8px;
   height: 23px;
   border: none;
   border-radius: 4px;
   background-color: rgba(240, 240, 240);
}






.containner{
   box-shadow: 2px 3px 1px #E0BFBF;
   background-color: #FFFFFF;
   width: 300px;
   height: 270px;
   border-radius: 19px;
}

.to{
   
   width: 190px;
   height: 30px;
   margin-top: 8px;
border: 2px solid rgba(240, 240, 240, 1);
border-radius: 6px;
}

.from{
   
   width:190px;
   height :30px;
   margin-top: 8px;
   border: 2px solid rgba(240, 240, 240, 1);
border-radius: 6px;
}

button{
   margin-top: 25px;
   height :35px;
   background-color: black;
   color: #fff;
   font-size: 15px;
   border: none;
   border-radius: 9px;
}




.firstp{
   font-size: 20px;
}


.secp{
   
   background-color: #FCFFAF;
   width: 100px;
   height: 35px;
   margin-left: 90px;
   margin-bottom: 5px;
   text-align: center;
   
}


.para{
   font-size: 18px;
   color:;
   background-color: #DBDCDC;
   width: 165px;
   height: 20px;
   border-radius: 5px;
   margin-left: 75px;
   
}